#include "winbolo/src/bsd/resource.h"

IDW_TANK_SINKING_NEAR        WAV "sounds/tank_sinking_near.wav"
IDW_TANK_SINKING_FAR         WAV "sounds/tank_sinking_far.wav"
IDW_SHOT_TREE_NEAR           WAV "sounds/shot_tree_near.wav"
IDW_SHOT_TREE_FAR            WAV "sounds/shot_tree_far.wav"
IDW_SHOT_BUILDING_NEAR       WAV "sounds/shot_building_near.wav"
IDW_SHOT_BUILDING_FAR        WAV "sounds/shot_building_far.wav"
IDW_SHOOTING_SELF            WAV "sounds/shooting_self.wav"
IDW_SHOOTING_NEAR            WAV "sounds/shooting_near.wav"
IDW_SHOOTING_FAR             WAV "sounds/shooting_far.wav"
IDW_MINE_EXPLOSION_NEAR      WAV "sounds/mine_explosion_near.wav"
IDW_MINE_EXPLOSION_FAR       WAV "sounds/mine_explosion_far.wav"
IDW_BIG_EXPLOSION_FAR        WAV "sounds/big_explosion_far.wav"
IDW_MAN_DYING_NEAR           WAV "sounds/man_dying_near.wav"
IDW_MAN_DYING_FAR            WAV "sounds/man_dying_far.wav"
IDW_MAN_BUILDING_NEAR        WAV "sounds/man_building_near.wav"
IDW_MAN_BUILDING_FAR         WAV "sounds/man_building_far.wav"
IDW_HIT_TANK_SELF            WAV "sounds/hit_tank_self.wav"
IDW_HIT_TANK_NEAR            WAV "sounds/hit_tank_near.wav"
IDW_HIT_TANK_FAR             WAV "sounds/hit_tank_far.wav"
IDW_FARMING_TREE_NEAR        WAV "sounds/farming_tree_near.wav"
IDW_FARMING_TREE_FAR         WAV "sounds/farming_tree_far.wav"
IDW_BUBBLES                  WAV "sounds/bubbles.wav"
IDW_BIG_EXPLOSION_NEAR       WAV "sounds/big_explosion_near.wav"
IDW_MAN_LAYING_MINE_NEAR     WAV "sounds/man_lay_mine_near.wav"
